@{
    ViewData["Title"] = "Home Page";
}

<div class="team-container">
    <a class="team-member"></a>
    <a class="team-member"></a>
    <a class="team-member"></a>
    <a class="team-member"></a>
    <a class="team-member"></a>
    <a class="team-member"></a>
</div>

<div>
    <div>
        <input oninput="searchPokemon(event)" id="searchInput" />
    </div>
    <div id="searchResults" />
</div>