/* CSS Box Model: https://www.w3schools.com/css/css_boxmodel.asp */

/* Style Reset */
html, body, main {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    font-family: sans-serif;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpaper.dog/large/10987890.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Team Elements */
.team-container {
    display: flex;
    gap: 5px;
}

.team-member {
    border: 1px solid black;
    border-radius: 50px;
    width: 75px;
    height: 75px;
    display: flex;
}

/* Search/Filter Elements */
input {
    width: 300px;
}

#searchResults {
    width: 307px;
    max-height: 300px;
    overflow: scroll;
    border-radius: 2px;
}

#searchResults div {
    text-transform: capitalize;
    padding: 3px;
    border-bottom: 1px solid #767676;
    border-left: 1px solid #767676;
    border-right: 1px solid #767676;
    cursor: pointer;
}

#searchResults div:hover {
    opacity: 0.5;
}

#searchResults div:nth-child(odd) {
    color: white;
    background-color: #d0d0d0;
}

#searchResults div:nth-child(even) {
    color: #d0d0d0;
    background-color: white;
}

.modal {
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: url('https://www.brookaccessory.com/products/reviverdiaplus/images/BG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border: 4mm ridge rgba(211, 220, 50, .6);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
}

.types {
    display: flex;
    gap: 5px;
}

.capsule {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 10px;
}

.abilities {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.details {
    display: flex;
    gap: 20px;
    align-items: center;
    text-transform: capitalize;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    background-color: #4158D0;
    background-image: linear-gradient(5deg, #416105D0 15%, #C850C0 50%, #FFCC10 100%);
    border: 2px solid whitesmoke;
    border-radius: 100px;
    width: 71px;
    height: 71px;
    display: flex;
    box-shadow: rgb(0 0 0 / 100%) 0px 0px 20px;
}